download/
.config
**.log
**.lck
**.scoreboard
src/bootstrap/netboot/boot/*
src/bootstrap/netboot/os/*
/vm/
/src/bootstrap/netboot/raspberry-pi-nix/
*.env
!example.env
!/src/bootstrap/netboot/.env
keys.txt