export GPG_FINGERPRINT=""

# K3S
export K3S_SERVER_ADDRESS="https://$TFTP_IP:6443"
export K3S_TOKEN="some-random-string"

# ArgoCD
export ARGOCD_PASSWORD="admin1234"

# CF
export CLOUDFLARE_ACCOUNT_ID="your-account-id"
export CLOUDFLARE_TOKEN="your-token"
export CLOUDFLARE_TUNNEL_ID="your-cloudflare-tunnel-guid"
export CLOUDFLARE_DEFAULT="http_status:404"
export CLOUDFLARE_INGRESS_SERVICE="http://traefik.kube-system.svc.cluster.local:80"
export CLOUDFLARE_DOMAIN="*.domain.com"

